.logo {
    max-width: 110px;
  }
  
  .navbar {
    /* box-shadow: 1px 1px 12px #ccc; */
    /* background-color: #ffffff !important;
    border-bottom: 2px solid rgba(226, 226, 226, 0.8); */
    /* background-color: transparent !important; */
    justify-content: center;
    align-items: center;
    z-index: 9999999;
    padding: 20px 15px;
  }
  
  
  .navbar-nav li {
    text-align: center;
    margin-right: 5px;
    margin-left: 5px;
  }
  
  .navbar-nav li a {
    color: rgb(255, 255, 255);
    padding: 10px 15px;
    border-radius: 10px;
    font-weight: 500;
    font-size: 14px;
  }
  
  .navbar-toggler:focus {
    box-shadow: none;
  }
  
  .navbar-nav li a.active {
    font-weight: 600;
    /* border-bottom: 1px solid var(--primary-color); */
    background-color: var(--white-color);
    color: var(--primary-color);
    /* color: var(--primary-color); */
  }
  .nav-container{
    /* background-color: var(--white-color); */
    border-radius: 20px;
    padding: 10px 15px;
    overflow: hidden;
    box-shadow: 0px 0px 4px 1px #000;
    background-color: var(--primary-color);
  }
  .navbar-brand {
    display: flex;
    flex-direction: row;
    align-items: center;
    /* background-color: var(--white-color); */
    /* background-color: var(--gray-color); */
    padding: 5px 10px;
    margin-right: 0px;
    border-radius: 10px;
    filter: invert(1);
  }
  
  #navbar_ul .navbar-nav {
    /* background-color: var(--gray-color); */
    padding-left: 20px;
    padding-right: 30px;
  }
  
  .navbar-toggler {
    border: none;
    padding: 10px;
  }
  
  .navbar-toggler:active,
  .navbar-toggler:focus {
    outline: 0;
  }
  
  .navbar-toggler .icon-bar {
    display: block;
    width: 22px;
    height: 2px;
    border-radius: 1px;
    margin: 4px 0 4px 0;
    transition: all 0.2s;
  }
  
  .navbar-toggler .icon-bar {
    background: #676666;
  }
  
  .navbar-toggler .icon-bar:nth-of-type(1) {
    transform: rotate(45deg);
    transform-origin: 10% 10%;
  }
  
  .navbar-toggler .icon-bar:nth-of-type(2) {
    opacity: 0;
  }
  
  .navbar-toggler .icon-bar:nth-of-type(3) {
    transform: rotate(-45deg);
    transform-origin: 10% 90%;
  }
  
  .navbar-toggler.collapsed .icon-bar:nth-of-type(1) {
    transform: rotate(0);
  }
  
  .navbar-toggler.collapsed .icon-bar:nth-of-type(2) {
    opacity: 1;
  }
  
  .header-text {
    font-size: 22px;
    font-family: 'Genos', sans-serif;
    font-weight: 300;
  }
  .header-text p {
    font-size: 14px;
  }
  .navbar-toggler.collapsed .icon-bar:nth-of-type(3) {
    transform: rotate(0);
  }
  
  .toggler-btn{
    display: flex;
    justify-content: center;
    align-items: center;
    border: 0px;
    border-radius: 50%;
    img{
      display: block;
      margin: auto;
      object-fit: contain;
    }
  }
  @media (max-width:768px) {
    .navbar-toggler {
      display: none;
    }
  
    .navbar-brand {
      margin: 0 auto 3px auto !important;
    }
  
    .logo {
      max-width: 135px;
    }
  
    .header-text {
      width: 100%;
      font-size: 22px;
      text-align: center;
      margin-left: 0px !important;
    }
  }
  
  @media(min-width:768px) {
    .navbar-mobile {
      display: none;
    }
  }
  
  .navbar-mobile {
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 99999;
    background-color: rgb(255, 255, 255);
    width: 100%;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    overflow: hidden;
  }
  
  .navbar-mobile ul {
    display: flex;
    flex-direction: row;
    width: 100%;
    margin-bottom: 0px;
    padding-left: 0px;
  }
  
  .navbar-mobile ul li {
    flex: 0 0 calc(100% / 4);
    text-align: center;
  }
  .navbar-mobile ul li a.active{
    background-color: var(--primary-color);
  }
  .navbar-mobile ul li a.active img{
    filter: brightness(0) invert(1);
  }
  .navbar-mobile ul li a.active p{
    color: rgb(255, 255, 255);
  }
  .navbar-mobile ul li a{
    padding: 10px ;
  }
  .navbar-mobile ul li a,
  .navbar-mobile ul li p {
    margin-bottom: 0px;
    color: rgb(0, 0, 0);
    text-transform: capitalize;
    font-size: 12px;
  }
  
  .home-btn-mobile img {
    border-radius: 50%;
    border: 1px solid #000;
  }
  
  .navbar-mobile ul li img {
    max-width: 30px;
    filter: brightness(.4) ;
    margin-bottom: 5px;
  }