<!-- Banner -->
<section class="w-100 banner" id="banner">
    <!-- <div class="overlay"></div> -->
  
    <div class="container d-flex position-relative">
        <div class="animation-area">
            <ul class="box-area">
              <li></li>
              <li></li>
              <li></li>
              <li></li>
              <li></li>
              <li></li>
              <li></li>
            </ul>
          </div>
        <div class="banner-details row" data-aos="fade-up" data-aos-delay="0">
            <div class="col-md-7 banner-info">
                <h1 class="mb-2" data-aos="fade-zoom-in"> <b>Hi,<br>
                        I am Deepak</b><br>
                </h1>

                <!-- <h1>
                    A Creative<br>
    Digital Product Designs<br>
    Company
                 </h1> -->
                <h3 class="mb-2 " data-aos="flip-left">I'm a
                    <span class="">
                        <b> Full Stack web developer</b>
                        <!-- <b>Graphic designer</b> -->
                    </span></h3>
                <h6 data-aos="flip-left">Currently I'm working as Freelance Front-end developer .<br> I have serious
                    passion for UI effects, animations .</h6>
                <ul class="social-media-ul social-media-black mt-4" data-aos="flip-left">
                    <li><a href="https://www.linkedin.com/in/deepak-n-151b3122a/"><img
                                src="assets/Images/linkedin.png"></a></li>
                    <li><a href="https://www.behance.net/deepakvijayan31"><img
                                src="assets/Images/behance.png"></a></li>
                    <li><a href="#"><img src="assets/Images/twitter.png"></a></li>
                    <li><a href="https://github.com/Deepakvijayan7"><img src="assets/Images/github.png"></a></li>
                </ul>
                <br>
                <button class="primary-button" >Contact</button>
                <a href="assets/files/Deepak_cv.pdf" class="primary-button button_bg_green ms-2" 
                    target="_blank">Download Resume</a>
            </div>


            <div class="col-md-5 mb-md-6 mb-lg-0">
                <div class="banner-img">
                    <img src="assets/Images/me22.png" class=" profile-img">
                </div>
            </div>

        </div>
    </div>
</section>
<!-- banner -->

<!-- services -->
<section class="services">
    <div class="container">
        <h2 class="text-center mb-4 text-underline"><b> Skills
            </b></h2>
        <p class="text-center mb-5">I have good skills in Full Stack Developer skills that are non-negotiable!</p>
        <div class="row justify-content-center">

            <!-- <div class="col-md-6 col-lg-4" data-aos="fade-up" data-aos-delay="150">
            <div class="services-box">
             <img src="assets/Images/ui-design.svg" class="mb-3">
             <h4>UI Design</h4>
             <P>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</P>
            </div>
         </div> -->

            <!-- <div class="col-md-6 col-lg-4" data-aos="fade-up" data-aos-delay="250">
             <div class="services-box">
              <img src="assets/Images/ux-design.svg" class="mb-3">
              <h4>UX Design</h4>
              <P>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</P>
             </div>
          </div>
  -->


            <div class="col-6 col-sm-6 col-md-4 col-lg-4 col-xl-2 " data-aos="fade-up" data-aos-delay="250">
                <div class="services-box">
                    <div class="service-img">
                        <img src="assets/Images/angular.png" >
                    </div>
                    <h4 class="text-18">Angular</h4>
                    <!-- <P>I'm more front end focused and love to work with Reactjs as well as pure HTML, CSS.</P> -->
                </div>
            </div>

            <div class="col-6 col-sm-6 col-md-4 col-lg-4 col-xl-2 " data-aos="fade-up" data-aos-delay="250">
                <div class="services-box">
                    <div class="service-img">
                        <img src="assets/Images/node.png">
                    </div>
                    <h4 class="text-18">Node.js</h4>
                    <!-- <P>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been
                        the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley
                        of type and scrambled it to make a type specimen book.</P> -->
                </div>
            </div>

            
            <div class="col-6 col-sm-6 col-md-4 col-lg-4 col-xl-2 " data-aos="fade-up" data-aos-delay="250">
                <div class="services-box">
                    
                    <div class="service-img">
                        <img src="assets/Images/mongodb-alt.svg">
                    </div>
                    <h4 class="text-18">MongoDB</h4>
                    <!-- <P>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been
                        the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley
                        of type and scrambled it to make a type specimen book.</P> -->
                </div>
            </div>

            <div class="col-6 col-sm-6 col-md-4 col-lg-4 col-xl-2 " data-aos="fade-up" data-aos-delay="350">
                <div class="services-box">
                   
                    <div class="service-img">
                        <img src="assets/Images/html-5.png">
                    </div>
                    <h4 class="text-18">HTML 5</h4>
                    <!-- <P>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been
                        the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley
                        of type and scrambled it to make a type specimen book.</P> -->
                </div>
            </div>


            <div class="col-6 col-sm-6 col-md-4 col-lg-4 col-xl-2 " data-aos="fade-up" data-aos-delay="150">
                <div class="services-box">
                 
                    <div class="service-img">
                        <img src="assets/Images/bootstrap.svg">
                    </div>
                    <h4 class="text-18">Bootstrap</h4>
                    <P></P>
                </div>
            </div>

            <div class="col-6 col-sm-6 col-md-4 col-lg-4 col-xl-2 " data-aos="fade-up" data-aos-delay="250">
                <div class="services-box">
                 
                    <div class="service-img">
                        <img src="assets/Images/Sass_logo.png" >
                    </div>
                    <h4 class="text-18">Sass</h4>
                    <!-- <P>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been
                        the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley
                        of type and scrambled it to make a type specimen book.</P> -->
                </div>
            </div>

            <div class="col-6 col-sm-6 col-md-4 col-lg-4 col-xl-2 " data-aos="fade-up" data-aos-delay="250">
                <div class="services-box">
                  
                    <div class="service-img">
                        <img src="assets/Images/Javascript.png">
                    </div>
                    <h4 class="text-18">Javascript</h4>
                    <!-- <P>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been
                        the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley
                        of type and scrambled it to make a type specimen book.</P> -->
                </div>
            </div>

            <div class="col-6 col-sm-6 col-md-4 col-lg-4 col-xl-2 " data-aos="fade-up" data-aos-delay="250">
                <div class="services-box">
                    <div class="service-img">
                      
                        <img src="assets/Images/Photoshop.png">
                    </div>
                    <h4 class="text-18">Photoshop</h4>
                    <!-- <P>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been
                        the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley
                        of type and scrambled it to make a type specimen book.</P> -->
                </div>
            </div>

            <div class="col-6 col-sm-6 col-md-4 col-lg-4 col-xl-2 " data-aos="fade-up" data-aos-delay="250">
                <div class="services-box">
                
                    <div class="service-img">
                        <img src="assets/Images/illustrator.png">
                    </div>
                    <h4 class="text-18">Illustrator</h4>
                    <!-- <P>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been
                        the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley
                        of type and scrambled it to make a type specimen book.</P> -->
                </div>
            </div>

        </div>
    </div>
</section>

<!-- services -->

<!-- works -->
<div class="my-works">
    <div class="opacity-box"></div>
    <div class="container">
        <h2 class="text-center mb-3 text-underline text-underline-bg-light"><b> My Works
        </b></h2>
        <p class="mb-3">My recent works are given below</p>
        <div class="row justify-content-center">
            <div class="col-lg-4 col-md-6 mb-3 mb-lg-0"  data-aos="fade-up" data-aos-delay="250">
                <div class="my-works-box">
                 <!-- <h3 class="sub-heading-24">CARAT Mobile</h3> -->
                 <div class="my-works-img-box" data-aos="zoom-in">
                    <div class="opacity-box">
                        <h3 class="text-18 text-dark">Power Gym</h3>
                        <p>power gym improves or maintain your physical health, enhance their strength, build muscle, and achieve various fitness goals. power gym equipped with a variety of exercise machines and equipment such as treadmills, elliptical trainers, weight machines, free weights, and more. </p>
                        <a href="" routerLink="/work_details/Power Gym" class="primary-button mt-2">view details</a>
                    </div>
                    <img src="assets/Images/works/mockupworks/power_gym.jpg">
                 </div>
                 <div class="my-works-content">
                    <h3 class="sub-heading-24">Power Gym</h3>
                    <p>power gym improves or maintain your physical health, enhance their strength, build muscle, and achieve various fitness goals. power gym equipped with a variety of exercise machines and equipment such as treadmills, elliptical trainers, weight machines, free weights, and more. </p>
                    <a href="" routerLink="/work_details/Power Gym" class="primary-button mt-2 w-100">view details</a>

                 </div>
                </div>
             </div>

             <div class="col-lg-4 col-md-6 mb-3 mb-lg-0"  data-aos="fade-up" data-aos-delay="300">
                <div class="my-works-box">
                    <!-- <h3 class="sub-heading-24">CARAT Mobile</h3> -->
                    <div class="my-works-img-box" data-aos="zoom-in">
                       <div class="opacity-box">
                           <h3 class="text-18 text-dark">Power Gym</h3>
                           <p>power gym improves or maintain your physical health, enhance their strength, build muscle, and achieve various fitness goals. power gym equipped with a variety of exercise machines and equipment such as treadmills, elliptical trainers, weight machines, free weights, and more. </p>
                           <a href="" routerLink="/work_details/Just Dance" class="primary-button mt-2">view details</a>
                       </div>
                       <img src="assets/Images/works/mockupworks/Just_Dance.jpg">
                       <!-- <span class="py-2 px-3 my-3 text-light">html , css , javascript , bootstrap</span> -->

                    </div>
                    <div class="my-works-content">
                       <h3 class="sub-heading-24">Just Dance</h3>
                       <p>TO MAKE ELITE DANCE EDUCATION ACCESSIBLE TO EVERYONE Dance Masterclass, often referred to as the "Netflix" of the dance world, is an online streaming platform dedicated to the art of dance. We produce masterclasses and documentary films for dancers and dance teachers. </p>
                       <a href="" routerLink="/work_details/Power Gym" class="primary-button mt-2 w-100">view details</a>
   
                    </div>
                   </div>
             </div>

            <div class="col-lg-4 col-md-6 mb-3 mb-lg-0"  data-aos="fade-up" data-aos-delay="350">
                <div class="my-works-box">
                    <!-- <h3 class="sub-heading-24">Luxury Car Wash</h3> -->
                    <div class="my-works-img-box" data-aos="zoom-in">
                       <div class="opacity-box">
                        <h3 class="text-18 text-dark">Luxury Car Wash</h3>
                           <p>Luxury Car Wash was born out of a love and passion for providing the highest level of vehicle care and protection. Our experts work with state-of-the-art eco-steam washing methods to offer the highest quality and cleanliness. Our cleanliness is sustainable!</p>
                           <a href="" routerLink="/work_details/Power Gym" class="primary-button mt-2">view details</a>
                           <span class="py-2 px-3 my-3 bg-danger text-light">html , css , javascript , bootstrap</span>

                        </div>
                       <!-- <span class="py-2 px-3 my-3 text-light">html , css , javascript , bootstrap</span> -->
                       <img src="assets/Images/works/luxury/index.png">
                    </div>
                    <div class="my-works-content">
                        <h3 class="sub-heading-24">Luxury Car Wash</h3>
                        <p>Luxury Car Wash was born out of a love and passion for providing the highest level of vehicle care and protection. Our experts work with state-of-the-art eco-steam washing methods to offer the highest quality and cleanliness. Our cleanliness is sustainable!</p>
                        <a href="" routerLink="/work_details/Power Gym" class="primary-button mt-2 w-100">view details</a>
    
                     </div>
                   </div>
            </div>

            <!-- <div class="col-md-4">
                <div class="my-works-box">
                 <div class="my-works-img-box" data-aos="zoom-in">
                    <div class="opacity-box">
                        <h3 class="text-18 text-dark">RJ- Hydraulics</h3>
                        <p>RJ Hydraulic Pty Ltd is now open for business in Australia and is an expansion of our middle-eastern sister company. Our owner has been working with construction, mining and agricultural industries for several decades now, forging strong relationships with global manufacturers of aftermarket hydraulic pumps, motors and spare parts.</p>
                        <a href="" class="primary-button mt-2">view details</a>
                    </div>
                    <img src="assets/Images/works/hydraulics/index.png">
                 </div>
                </div>
             </div> -->

             
            
        </div>

        <a href="" routerLink="works" class="btn btn-warning px-4 py-2 mt-4 ">View all works</a>
    </div>
</div>
<!-- works -->