.about{
    padding: 130px 0px 60px 0px;
}
.about-p{
  max-width: 1000px;
  margin: 0 auto;
}
.myskills-row{
    align-items: center;
    display: flex;
    flex-direction: row;
}
.myskills-row h5{
    margin-bottom: 0px;
}
.myskills-row h6{
    margin-bottom: 0px;
}
.educational-ul{
  list-style: circle;
  text-align: left;
  padding-left: 15px !important;
}
.educational-ul li h5{
  margin-bottom: 20px !important;
  font-size: 18px;
}
.educational-ul li::marker{
  font-size: 25px;
}
.myskills-row .progress-bar{
  background-color: var(--primary-color);
}

.About_headings{
  display: inline-flex;
  padding: 8px 25px ;
  background-color: var(--primary-color);
  color: #fff;
  font-size: 22px;
}
  
  /* Timeline Container */
  .timeline {
    background: var(--primary-color);
    margin: 20px auto;
    padding: 20px;
  }
  
  /* Card container */
  .card {
    position: relative;
    border: 0px;
  }
  
  /* setting padding based on even or odd */
  .card:nth-child(odd) {
    padding: 30px 0 30px 30px;
  }
  .card:nth-child(even) {
    padding: 30px 30px 30px 0;
  }
  /* Global ::before */
  .card::before {
    content: "";
    position: absolute;
    width: 50%;
    border: solid orangered;
  }
  
  /* Setting the border of top, bottom, left */
  .card:nth-child(odd)::before {
    left: 0px;
    top: -4.5px;
    bottom: -4.5px;
    border-width: 5px 0 5px 5px;
    border-radius: 50px 0 0 50px;
  }
  
  /* Setting the border of top, bottom, right */
  .card:nth-child(even)::before {
    right: 0;
    top: 0;
    bottom: 0;
    border-width: 5px 5px 5px 0;
    border-radius: 0 50px 50px 0;
  }
  
  /* Removing the border if it is the first card */
  .card:first-child::before {
    border-top: 0;
    border-top-left-radius: 0;
  }
  
  /* Removing the border if it is the last card  and it's odd */
  .card:last-child:nth-child(odd)::before {
    border-bottom: 0;
    border-bottom-left-radius: 0;
  }
  
  /* Removing the border if it is the last card  and it's even */
  .card:last-child:nth-child(even)::before {
    border-bottom: 0;
    border-bottom-right-radius: 0;
  }
  
  /* Information about the timeline */
  .info {
    display: flex;
    flex-direction: column;
    background: rgb(27, 71, 192);
    color: rgb(255, 255, 255);
    border-radius: 10px;
    padding: 10px;
  }
  
  /* Title of the card */
  .title {
    color: rgb(255, 255, 255);
    position: relative;
  }
  
  /* Timeline dot  */
  .title::before {
    content: "";
    position: absolute;
    width: 10px;
    height: 10px;
    background: white;
    border-radius: 999px;
    border: 3px solid orangered;
  }
  
  /* text right if the card is even  */
  .card:nth-child(even) > .info > .title {
    text-align: right;
  }
  
  /* setting dot to the left if the card is odd */
  .card:nth-child(odd) > .info > .title::before {
    left: -45px;
  }
  
  /* setting dot to the right if the card is odd */
  .card:nth-child(even) > .info > .title::before {
    right: -45px;
  }