.contact{
    padding: 130px 0px 60px 0px;
    /* background-color: var(--primary-color)b0; */
}
.contact-me{
    padding: 30px 4%;
}
.contact-ul li{
    display: flex;
    align-items: center;
    text-align: left;
    margin-bottom: 30px;
}
.contact-ul li .contact-icon{
    border-radius: 50%;
    margin-right: 30px;
    background-color: var(--primary-color);
    width: 50px;
    height: 50px;
    padding: 10px;
}
.contact-ul li img{
    filter: invert(1);
    width: 100%;
} 
.contact-form{
    margin: auto;
    background-color: #fff;
    padding: 30px 4%;
    border-radius: 30px;
}
.contact-form label{
    font-size: 14px;
    top: -5px;
}
.contact-form input{
    height: 60px;
}
.contact-form input,.contact-form textarea{
    border-top: 0px;
    border-right: 0px;
    border-left: 0px;
    padding: 25px 15px 10px 15px;
    border-bottom: 2px solid #ccc;
    background-color: transparent;
}
.contact-form input:focus,.contact-form textarea:focus{
    box-shadow: none;
}
.contact-form textarea{
    min-height: 150px;
}
// .form-floating > .form-control:focus ~ label, .form-floating > .form-control:not(:placeholder-shown) ~ label, .form-floating > .form-select ~ label{
//    transform: translatey(-30px);
//    font-weight: 600;
//    font-size: 14px;
// }
@media(max-width:768px){
    .contact-form{
        text-align: center;
    }
    .contact-me{
        text-align: center;
    }
    .contact-ul li{
        flex-direction: column;
        text-align: center;
    }
    .contact-ul .contact-icon{
        margin-right: 0px !important;
        margin-bottom: 15px;
    }
}