<div class="contact ">
    <div class="container">
       <div class="row">
        <div class="col-md-6">
           <div class="contact-me">
            <h3 class="mb-3  text-underline text-capitalize">Contact me</h3>
            <p class="mb-5">Interested in collaborating with me?</p>
            <ul class="contact-ul ps-0">
                <li>
                   <div class="contact-icon"><img src="assets/Images/location.png"></div>
                   <h6>Nidiyanga House, <br>Edakkeppuram North ,<br>Cherukunnu(P.o)
                   </h6>
                </li>
                <li>
                    <div class="contact-icon"><img src="assets/Images/call.png"></div>
                    <h6>+91-9633383449</h6>
                 </li>

                 <li>
                    <div class="contact-icon"><img src="assets/Images/email.png"></div>
                     <h6>Deepakvijayan31@gmail.com</h6>
                 </li>
            </ul>
           </div>
        </div>


        <div class="col-md-6">
            <form class="form-floating contact-form" action="mailto:deepakvijayan31@gmail.com" method="post" enctype="text/plain">
                <h3 class="mb-5">I’m excited to learn about your project. <br>Ready to get started?</h3>
                <div class="form-floating mb-4">
                    <input type="text" class="form-control" id="name" placeholder="Enter Your Name">
                    <label for="name">Enter Your Name</label>
                </div>

                <div class="form-floating mb-4">
                    <input type="email" class="form-control" id="floatingInput" placeholder="name@example.com">
                    <label for="floatingInput">Email address</label>
                </div>

                <div class="form-floating mb-4">
                    <input type="text" class="form-control" id="number" placeholder="Enter Your Contact Number">
                    <label for="number">Enter Your Contact Number</label>
                </div>
            
                <div class="form-floating">
                    <textarea class="form-control form-floating" placeholder="Tell Me About Your Project" ></textarea>
                    <label for="project">Tell Me About Your Project</label>
                  </div>

                  <button class="primary-button mt-4 d-block ms-auto">Get Started</button>
            </form>
        </div>


       </div>
    </div>
</div>