.works {
    padding: 150px 0px 80px 0px;
    background: rgb(236, 244, 251);
  }
  
  .works .works-ul {
    display: flex;
    flex-direction: column;
  }
  
  .works .works-ul li {
    display: flex;
    flex-direction: row;
    padding: 50px 20px;
  }
  
  /* .works .works-ul li:not(:last-child) {
    border-bottom: 1px solid #dddada;
  } */
  
  .works .works-ul li .img-box-works {
    width: 60%;
    /* max-height: 450px; */
    padding: 0px 20px;
  }
  
  @media(min-width:992px) {
    .works .works-ul li .img-box-works {
      transform: perspective(800px) rotateY(25deg) scale(.8) rotateX(10deg);
    }
  }
  
  .works .works-ul li .img-box-works .img-box-works-inside {
    border: 8px var(--primary-color) solid;
    border-radius: 10px;
    background-color: #ffffff;
    max-width: 750px;
    height: 480px;
    overflow: hidden;
    position: relative;
    margin: auto;
    box-shadow: 0 60px 123px -25px hsla(225,2%,62%,.42),0 35px 75px -35px hsla(225,2%,62%,.08);
  }
  
  .works .works-ul li .img-box-works .img-box-works-inside button {
    outline: none;
  }
  
  .works .works-ul li .img-box-works .img-box-works-inside img {
    width: 100%;
    position: absolute;
    object-fit: cover;
    left: 0;
  }
  
  .works .works-ul li .img-box-works .img-box-works-inside #img-demo {
    animation: 30s scroll infinite;
  }
  
  .works .works-ul li .works-content {
    width: 40%;
    align-self: center;
    text-align: center;
  }
  
  .works .works-ul li .works-content span {
     color: rgb(52, 52, 52);
    display: inline-block;
    font-weight: 700;
    padding: 5px 10px;
    font-size: 12px;
  }
  
  .works .works-ul li .works-content h3 {
    color: #ffffff;
    font-weight: bold;
    margin-bottom: 15px;
    text-transform: uppercase;
    background-color: #0d375c;
    padding: 8px;
  }
  .tools_text{
    text-transform: capitalize;
  }
  .works .works-ul li .works-content p {
    color: #757575;
    margin-bottom: 15px;
  }
  
  .works .works-ul li:nth-child(2n) .img-box-works {
    order: 2;
  }
  
  
  @media(min-width:992px) {
    .works .works-ul li:nth-child(2n) .img-box-works {
      transform: perspective(800px) rotateY(-25deg) scale(.8) rotateX(10deg);
    }
  }
  .works .works-ul li:nth-child(2n) .img-box-works .img-box-works-inside {
    margin-left: auto;
  }
  
  .works .works-ul li:nth-child(2n) .works-content {
    order: 1;
  }
  
  .img-box-works .opacity-box {
    z-index: 9;
    opacity: 0;
  }
  
  .img-box-works:hover .opacity-box {
    opacity: 0.6;
  }
  
  .zoom-btn {
    display: none;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%);
    z-index: 99;
    font-size: 29px;
    color: var(--white-color);
  }
  
  .img-box-works:hover .zoom-btn {
    display: block;
  }
  
  @-webkit-keyframes scroll {
    0% {
      transform: translateY(0px);
    }
  
    90% {
      transform: translatey(calc(-100% + 380px));
    }
  
    100% {
      transform: translateY(0px);
    }
  }
  
  @keyframes scroll {
    0% {
      transform: translateY(0px);
    }
  
    90% {
      transform: translatey(calc(-100% + 465px));
    }
  
    100% {
      transform: translateY(0px);
    }
  }
  
  @media (max-width: 992px) {
    .works .works-ul li {
      flex-direction: column;
      align-items: center;
      text-align: center;
    }
  
    .works .works-ul li .img-box-works {
      width: 100%;
    }
  
    .works .works-ul li .img-box-works .img-box-works-inside {
      margin: auto;
    }
  
    .works .works-ul li .works-content {
      width: 100%;
      text-align: center;
      margin-top: 20px;
    }
  
    .works .works-ul li:nth-child(2n) .img-box-works {
      order: 1;
      text-align: center;
    }
  
    .works .works-ul li:nth-child(2n) .works-content {
      order: 2;
    }
  }
  @media (min-width:576px) and (max-width:992px) {
    .works .works-ul li .img-box-works .img-box-works-inside {
      height: 350px;
    }
  }
  @media(max-width:576px) {
    .works .works-ul li .img-box-works {
      padding: 0px;
    }
  
    .works .works-ul li .img-box-works .img-box-works-inside {
      height: 260px;
    }
  
    .works .works-ul li {
      padding: 20px 10px 20px 10px;
    }
  }